﻿@model SuccessiveDotNetTest.Models.DataModel

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Create</h2>

@Html.DropDownListFor(m => m.Id, ViewBag.nameList as SelectList, "--Select--", new { @class = "Form-control", id = "MyId" ,onchange="GetData(this.value)"})
    New Candidate:
    <input type="checkbox" id="chkbox" name="New Candidate" value="New candidate" onclick="ClearAll()"/>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>DataModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", id = "FirstName" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", id = "LastName" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control" ,id="Experience"} }) [Months]

                    @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" ,id="Mobile" } })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control",id="Email"} })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("From", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimeFrom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimeFrom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("To", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimeTo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimeTo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InterviewerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InterviewerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InterviewerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <input type="button" value="Cancel" class="btn btn-default" onclick="redirect()" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <script>
        function redirect() {
            location.href = 'ScheduleInterviewDetail';
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#chkbox").click(function () {
                if ($(this).is(":checked")) {
                    $("#MyId").prop("disabled", true);
                } else {
                    $("#MyId").prop("disabled", false);
                }
            });
        });
    </script>
@*<script>
        $(document).ready(function () {
            $("#MyId").change(function () {
                $.get("/Candiate/GetStateList", { Id: $("#MyId").val() }, function (data) {
                    $("#MyId").empty();
                    $.each(data, function (index, row) {
                        $("#FirstName").val(d.FirstName);
        $("#LastName").val(d.LastName);
                    });
                });
            })
        });*@
    @*</script>*@
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#FirstName").ajaxComplete({
            source: "/Candiate/GetStateList"
        });
    });
</script>*@





@*<form id="myForm">
    <label for="departmentsDropdown"><b>Car</b></label>
    <select class="form-control" onchange="getValue()" id="departmentsDropdown" name="departmentsDropdown"></select><br />
    <input type="text" value="" id="show" />
</form>


<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Candiate/Create",
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Please Select a Car</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].FirstName + '">' + data[i].LastName + '</option>';
                }
                $("#departmentsDropdown").html(s);
            }
        });
    });

    function getValue() {
        var myVal = $("#departmentsDropdown").val();
        $("#show").val(myVal);
    }

</script>*@
<script>
    function GetData(value) {
    var getIndex = document.getElementById("MyId").selectedIndex;
    var id = document.getElementsByTagName("option")[getIndex].value;
    console.log(id);
    $.getJSON("/Candiate/GetData/" + id, function (d) {
        console.log(d);
        //var getdatetime = d.dob;
        //var newDob = "";
        //for (i = 0; i < 10; i++) {
        //    newDob += getdatetime[i];
        //}
        $("#FirstName").val(d.FirstName);
        $("#LastName").val(d.LastName);
        $("#Experience").val(d.Experience);
        $("#Mobile").val(d.Mobile);
        $("#Email").val(d.Email);
     
      

    });

    }
    function ClearAll() {
    var checkBox = document.getElementById("chkbox");
    if (checkBox.checked == true) {

        $("#FirstName").val("");
        $("#LastName").val("");
        $("#Experience").val("");
        $("#Mobile").val("");
        $("#Email").val("");
        document.getElementById("MyId").disabled = true;
    }
    else {
        document.getElementById("MyId").disabled = false;
    }

}
</script>







