﻿@model IEnumerable<SuccessiveDotNetTest.Models.ViewModel>
@{
    ViewBag.Title = "ScheduleInterviewDetail";
}

<h2>ScheduleInterviewDetail</h2>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Action("~/scripts/jquery-3.3.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Action("~/scripts/bootstrap.min.js")"></script>
</head>
<body>
    <div class="container-fluid py-4">
        <h4 class="text-center text-uppercase">List</h4>
        <table class="table table-striped table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Experiance</th>
                    <th>Schedule  Date& Time</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.candidate.FirstName @item.candidate.LastName</td>
                    <td>@item.candidate.Email</td>
                    <td>@item.candidate.Experience</td>
                    <td>@item.InterviewSchedule.Date@item.InterviewSchedule.TimeFrom-@item.InterviewSchedule.TimeFrom</td>

                  
                </tr>

                }
            </tbody>
        </table>
    </div>
</body>
</html>

